@media (max-width: 1199px) and (min-width: 768px){
.banner-slider-content{padding:0 100px;}
.post_img, .sidebar .widget .text span{height:auto;}
}

@media only screen and (max-width:1024px) {
.container{width:920px; position:relative;}
.navbar {float: none; padding-left: 50px;}
.main_nav ul li {margin: 0px 15px;}
.main-header.sticky .main_nav {height: 101px;}
.header-search .search-btn {top: -100px;}
.header-search .search-input {margin: -65px 0;}	
.toBottom {left: 485px;}
.socails {padding: 10px 0 30px 0;}
.client_popup{max-width:100%; left:0px;}
.your_business {float: left;width: 100%;padding: 20px 0 20px 0;}
.section_heading {margin-bottom: 10px;padding-bottom: 10px;}
.your_business .text_area{ width:55%;}
.your_business .text_area p {margin-bottom: 15px;}
.new span.imgarea{ margin-right:0px;}
.new span.imgarea img {width: 100%;}
.new2 span.imgarea img {width: 326px;}
.new3 span.imgarea img{width: 326px;}
.new4 span.imgarea img{width: 326px;}
h1.popup_title{ width:65%;}
.text_popup {width: 100%;}
.our_client_box {width: 215px;}
.banner_content {width: 60%; top:335px; left:242px;}
.banner_contents{right: 200px;height: auto;bottom: 190px;}
.banner_content .section_heading{margin-bottom: -25px;}
.primary {width: 70%;float: left;}
.buzz_box {width: 42%;margin: 0px 33px 55px 34px;overflow: initial;}
.case_section {width: 34%;}
.buzz_page .buzz_details:last-child{}
.secondry {width: 30%;float: right;}	
#footer .widget {margin-right: 125px;}
.parallax-bg-inner{ height:918px;}	
#main-slider.come_on{ height:918px;}
#main-slider.come_on .banner_content{ top:170px;}
.dropdown-content {min-width: 932px;left: 75px;}
.dropdown-content ul li { margin:0 0 0 10px;} 
.drop_header h1{ margin-left:10px;}
.our_page{ width:399px;}
.our_details {width: 400px;}
.gallery {width: 400px;}
.galery{width: 401px;}
.our_right_bar {width: 460px;}
.feedback {width: 450px;}
.feedback_right {width: 400px;}
.feedback::before {left: 235px;}
.our_gallery2 .gallery-img {width: 200px;}
.our_right_bar a{ font-size:20px;}
.feedback a{ font-size:20px;}
.sadan {margin: 228px 0 5px 0;}
.our_page.sadan::before {left: 442px;}
.header_inner{  display:none;}
.mobile-nav{ display:block; }
.main-header{ position:relative;}
 
.flex-direction-nav a.flex-prev{ left:0px; top:-50px;}
.flex-direction-nav a.flex-next{ right:0px;  top:-50px;}
 
#main-slider{ height:408px;}
.buzz_blogs{  margin-left: -29px;}
} 

@media only screen and (max-width:959px) {

.container{ width:720px;}
.navbar {float: none; padding-left: 70px;}
.main_nav ul li {margin: 0px 3px;}
.main-header.sticky .main_nav {height: 101px;}
.header-search .search-btn {top: -100px; right:-22px;}
.header-search .search-input {margin: -65px -25px;}
.socails {padding: 10px 0 30px 0;}
.client_popup{max-width:100%; left:0px;}
.your_business {float: left;width: 100%;padding: 20px 0 20px 0;}
.section_heading {margin-bottom: 10px;padding-bottom: 10px;}
.your_business .text_area {width: 50%;}
.your_business .text_area p {margin-bottom: 15px;}
.new span.imgarea{ margin-right:0px;}
.new span.imgarea img {width: 100%;}
.new2 span.imgarea img {width: 326px;}
.new3 span.imgarea img{width: 326px;}
.new4 span.imgarea img{width: 326px;}
h1.popup_title{ width:65%;}
.text_popup {width: 100%;}
.our_client_box {width: 224px;}
.banner_content {width: 65%; top:335px; left: 262px;}



.banner_contents{right: 200px;height: auto;bottom: 190px;}



.banner_content .section_heading{margin-bottom: -25px;}



.primary {width: 100%;float: left;}



.buzz_box {width: 41%; margin: 0px 38px 55px 34px;}



.buzz_blogs {overflow: visible;}



.buzz_page .buzz_details:last-child{}



.secondry {width: 100%;float: left;}



#footer .widget {margin-right: 25px;}



.case_section {width: 43%;}



#main-slider.come_on .banner_content{ top:150px;}



.drop_header h1{ margin-left:10px;}



.dropdown-content {min-width: 676px;left: 75px;}



.dropdown-content ul li { margin:0 0 0 10px;}



.our_page{ width:329px;}

.our_details {width: 330px;}

.gallery {width: 330px;}

.galery{width: 331px; height: 142px !important;}

.our_right_bar {width: 330px;}

.feedback {width: 330px;}

.feedback_right {width: 330px;}

.feedback::before {left: 195px;}

.our_gallery2 .gallery-img {width: 165px;}

.our_right_bar a{ font-size:20px;}

.feedback a{ font-size:20px;}

.sadan {margin: 380px 0 5px 0;}

.our_page.sadan::before {left: 341px;}

.our_right_bar img {width: 100%;}

.feedback img {width: 100%;}

}











@media (max-width: 767px) {



#main-slider{height:625px;}



#main-slider.come_on{ height:625px;}



.parallax-bg-inner { height:625px;}



#main-slider.come_on .banner_content{ top:0px;}



.main-header.sticky .main_nav{ display:none;}



.pushmenu-push {display: block !important;}



.menu_brand{ display:none;}



.header-search{ display:none;}



.brand_logo .logo{width:100%;}



.brand_logo .logo img{max-width:100%; max-height:100%;}



.section_title{font-size:40px;}



.section_subtitle{font-size:12px;}



.your_business .text_area{width:100%;}



.your_business .case_section{width:100%; float:left; margin-left:0; margin-right:0; margin-top:30px;}



.your_business .case_box{width:100%; margin-left:0; margin-right:0;}



.your_business .case_section h4{padding-left:0;}



.our_client_inner{ margin-left:0; margin-right:0; }



.client_popup{max-width:100%; left:0px; padding:0px;}



.buzz_blogs{margin:auto;}



.buzz_box{width:100%; margin-left:0; margin-right:0;}



.we_are_text_inner{padding:0;}



address:last-child{margin:0;}



#footer .widget{float:left !important; margin: 0 0 30px 0;}



.instagram ul li {float: none;width: 100%;margin: 0; padding:1px;}



.socails {padding: 10px 0 30px 0;}



.client_popup_box {width: 100%;}



.your_business {float: left;width: 100%;padding: 20px 0 20px 0;}



.section_heading {margin-bottom: 10px;padding-bottom: 10px;}



.your_business .text_area p {margin-bottom: 15px;}



.toBottom {left: 305px;}



.new span.imgarea{ margin-right:0px;}



.new span.imgarea img {width: 100%;}



h1.popup_title{ width:65%;}



.text_popup {width: 100%;}



.our_client_box {width: 100%;margin: 0;}



.banner_content {width: 100%; top: 265px; left: 200px;}



.banner_contents{right: 200px;height: auto;bottom: 190px;}



.banner_content .section_heading{margin-bottom: -25px;}



.primary {width: 100%;float: left;}



#buzz_blogs .buzz_box { width:100% !important;}



.buzz_page .buzz_details:last-child{}



.secondry {width: 100%;float: left;}



.parallax-bg-inner { height:620px;}



.new2 span.imgarea img {width: 430px;}



.new3 span.imgarea img {width: 430px;}



.new4 span.imgarea img {width: 430px;}



.people_information_inner {padding-left: 0;}



.all_people_cases {margin: 35px 0 0 10px;}



.case_box.case-item {-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;width: 100%;height: auto; margin:0px;}



.our_page{ width:100%;}

.our_details {margin-bottom: 15px;width: 100%;}

.our_gallery {width: 100%;float: left;}

.our_right_bar {width: 100%; padding:0 0 30px 0;}

.feedback {width: 100%; padding-bottom: 20px;}

.feedback_right {width: 100%;margin-top: 0;}

.feedback img {padding-top: 20px;width: 100%;}

.our_right_bar img {width: 100%;}

.our_gallery2 .gallery-img {width: 100%;}

.sadan {margin: 20px 0 50px 0;}

.galery-img {position: initial;}

.feedback::before{ display:none;}

.our_page.sadan::before{ display:none;}

.our_right_bar a{ font-size:20px;}

.feedback a{ font-size:20px;}

.gallery{ width:100%;}

.galery{ width:100%;}



}















@media (max-width: 667px) { 



.buzz_page .buzz_blogs {height: 5525px !important;}







}











@media (max-width: 567px){



.toBottom{left: 300px;}



	



}







@media (max-width: 480px) { 



.toBottom {left:209px;}



.buzz_page .buzz_blogs {height: 5530px !important;}







}







@media (max-width:375px) {



.toBottom {left:158px;}	



.buzz_page .buzz_blogs {height: 5295px !important;}



.pushmenu-push-toright {left: 265px !important;}



}















@media (max-width:365px) {







}







@media (max-width: 320px) {



.toBottom {left:125px;}	



.banner_content {width: 85%;top: 250px;}



#main-slider {height: 690px;} 



#main-slider.come_on{ height:675px;} 



.parallax-bg-inner { height:690px;}



.buzz_page .buzz_blogs {height: 5295px !important;}



.pushmenu-push-toright {left: 247px !important;}



.pushmenu {width: 265px !important;}



.links {margin: 15% 0 0 25% !important;}







}







@media only screen and (min-width: 768px) and (max-width: 959px) {



.container{width:720px; position:relative;}



.toBottom {left: 370px;}



}



@media only screen and (min-width: 480px) and (max-width: 767px) {



.container{width:430px;  position:relative; }



}



@media only screen and (max-width: 479px) {



.container{width:300px;  position:relative; }



}